.navbar{
    background: #1C1E53;
}

.navbar-nav .nav-item .nav-link{
    color: #BBBBCB;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    padding-right: 32px;

}

.navbar-nav .nav-item .nav-link:hover{
    color: #fff;
    
}

.navbar-btn{
    background: transparent;
    color: #fff;
    padding: 16px 48px 16px 48px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.2);
}