#banner{
    padding-top: 128px;
    padding-bottom: 128px;
    font-family: 'Poppins', sans-serif;
}

.banner-details h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 8px;
}

.banner-details h1{
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    padding-bottom: 31px;
}

.banner-details p{
    width: 484px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
}